body{
    margin: 5vh 5vw 5vh 5vw;
    background-color: white;
}

.navX {
    transform: rotate(-45deg);
  }
  .navX2 {
    transform: rotate(45deg);
  }
  .h-2px {
    height: 2px;
  }
  .top-px {
    margin-top: 1px;
  }
  .nav-enter {
    opacity: 0;
    transform: translateX(-100%);
  }
  .nav-enter-active {
    width: 100vw;
    opacity: 1;
    top: 0;
    transform: translateX(0%);
    transition: all 350ms;
  }
  .nav-exit {
    opacity: 1;
    transform: translateX(0%);
  }
  .nav-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 350ms;
  }